.evenrow{ background-color: aquamarine;
    font-size: larger;
}
.oddrow{background-color: darkgoldenrod;}
.toprow{background-color: crimson;}
h1{background-color: aqua;}

body{
    background-color: rgb(201, 63, 63);
    text-align: center;
}
p{color: chartreuse;}

table{margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;

}
ul{ align-items: center;}